################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiCambioMoneda/obj
/.vs/ApiCambioMoneda/v16
