################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiCambioMoneda/obj
bin/
/ApiCambioMoneda/bin/netcoreapp3.1/
/.vs/ApiCambioMoneda/v16
/Domain/obj
